#!/usr/bin/bash

from_date=2020-01-01
to_date=2020-10-01
important_lineages="/export/home/popova/workspace/covid/data/russian/lineages_of_interest_before_oct2020.list"
mode="c"
outfolder=/export/home/popova/workspace/covid/output/nextstrain/nextstrain_30sept_opt_pruned_oct20 # !!! _prev
rusmeta=/export/home/popova/workspace/covid/data/russian/meta.csv
gismeta=/export/home/popova/workspace/covid/data/raw/metadata.tsv

full_tree=/export/home/popova/workspace/covid/data/munched/usher/nextstrain_30sept_opt/2021-09-30_optimized_fluffed.nw # !!! 
full_outfolder=/export/home/popova/workspace/covid/output/nextstrain/nextstrain_30sept_opt

leaf_dates_file=${full_outfolder}/leaf_dates.csv
leaf_states_file=${full_outfolder}/leaf_states.csv
nextstrain_pangolined=${full_outfolder}/nextstrain.pangolined
rus_pangolined_from_tree=${full_outfolder}/rus.pangolined.withdupls
all_pangolined=${full_outfolder}/all.pangolined


conda_config="/export/home/popova/miniconda3/etc/profile.d/conda.sh"