#!/usr/bin/bash

tag="nextstrain_29sept"  # !!! nextstrain_29sept
usher_tag="sept"
mode="c" #c circular or r rectangular
outtree="${tag}_${mode}_large"
nextstrain_aln=/export/home/popova/workspace/covid/data/raw/mmsa_2021-09-23/nextstrain_align.fa
unmasked_gisaid_msa=/export/home/popova/workspace/covid/data/raw/msa_2021-09-29/2021-09-29_unmasked.fa
important_lineages="/export/home/popova/workspace/covid/data/russian/lineages_of_interest_sept.list"

rawdatafolder=/export/home/popova/workspace/covid/data/raw/nextstrain
datafolder=/export/home/popova/workspace/covid/data/munched/usher/${tag}
outfolder=/export/home/popova/workspace/covid/output/nextstrain/${tag} # !!! _prev
rusmeta=/export/home/popova/workspace/covid/data/russian/meta.csv
gismeta=/export/home/popova/workspace/covid/data/raw/metadata.tsv
tree=${datafolder}/2021-09-07_all_rus_for_usher_nextstrain_refluffed.nw # !!!  
rus_pangolined_from_tree=${outfolder}/rus.pangolined.withdupls

# !!! _prev
pangolin_output_folder="/export/home/popova/workspace/covid/output/transmission_lineages/usher/${usher_tag}/pangolin_from_raw_fasta"
rus_pangolined=${pangolin_output_folder}/pangout.all


leaf_dates_file=${outfolder}/leaf_dates.csv
leaf_states_file=${outfolder}/leaf_states.csv
nextstrain_pangolined=${outfolder}/nextstrain.pangolined
all_pangolined=${outfolder}/all.pangolined


conda_config="/export/home/popova/miniconda3/etc/profile.d/conda.sh"