#!/usr/bin/bash

tag="july1_small_2"
gentag="2021-07-01"
threads=30
data_folder="/export/home/popova/workspace/covid/data/munched/usher/${tag}"
output_folder="/export/home/popova/workspace/covid/output/transmission_lineages/usher/${tag}"
pangolin_output_folder="/export/home/popova/workspace/covid/output/transmission_lineages/usher/${tag}/pangolin_from_raw_fasta"
pangolin_input_folder=/export/home/popova/workspace/covid/data/raw/raw_rus_fasta_17june
unmasked_gisaid_msa=/export/home/popova/workspace/covid/data/raw/msa_2021-07-13/2021-07-13_unmasked.fa
rus_fasta="${data_folder}/${gentag}_for_usher_2_2.fasta"

script_folder=/export/home/popova/workspace/covid/scripts
conda_config="/export/home/popova/miniconda3/etc/profile.d/conda.sh"

merged_meta="/export/home/popova/workspace/covid/data/russian/merged_meta.csv"
long_ids="${data_folder}/${gentag}_samples_for_usher_2_2.long_ids"

rawtree="${data_folder}/${gentag}_for_usher_2_2.all_samples.nwk"
tree="${data_folder}/renamed.nwk"
rus_to_rus_duplicates="${data_folder}/${gentag}_duplicates_for_usher_2_2_to_add.list" 

rus_withdups_pangolined="${pangolin_output_folder}/pangolined.all"
important_lineages="/export/home/popova/workspace/covid/data/russian/lineages_of_interest.list"

branchlength=subs # subs or subs_per_site

leaf_states_file=${output_folder}/leaf_states.csv
leaf_dates_file=${output_folder}/leaf_dates.csv
all_states_file=${output_folder}/Sankoff_states.csv
translin_file=${output_folder}/transmission_lineages.withduplicates.out
stripped_tree_file=${output_folder}/stripped_tree_with_labels_with_duplicates
country_stat_file=${output_folder}/country_stat