#!/usr/bin/bash

tag="3oct_opt_min_newpango"
threads=30
#data_folder="/export/home/popova/workspace/covid/data/munched/usher/${tag}"
output_folder="/export/home/popova/workspace/covid/output/transmission_lineages/usher/${tag}"
tree="/export/home/popova/workspace/covid/data/munched/usher/3oct_opt/2021-09-30_usher_2_2_opt_fluffed_gisaid.nw"
infections="/export/home/popova/workspace/covid/data/russian/infections.csv"
pangolin_output_folder="${output_folder}/pangolin_from_raw_fasta"
pangolin_input_folder=/export/home/popova/workspace/covid/data/raw/raw_rus_fasta_30sep/fasta_all
all_pangolined="${pangolin_output_folder}/all.pangolined"
rus_pangolined="${pangolin_output_folder}/rus.pangolined"
rus_pangolined_from_tree="${pangolin_output_folder}/rus.pangolined.fromtree"
all_rus_pangolined="${pangolin_output_folder}/all.rus.pangolined"
rus_pangolined_from_tree_shortcut="${pangolin_output_folder}/rus.pangolined.fromtree.shortcut"
unmasked_gisaid_msa=/export/home/popova/workspace/covid/data/raw/msa_2021-09-29/2021-09-29_unmasked.fa



branchlength=subs # subs or subs_per_site
seqlength=29903
important_lineages="/export/home/popova/workspace/covid/data/russian/lineages_of_interest.list"
important_lineages_delta="/export/home/popova/workspace/covid/data/russian/delta_lineages_of_interest.list"

script_folder=/export/home/popova/workspace/covid/scripts
conda_config="/export/home/popova/miniconda3/etc/profile.d/conda.sh"

leaf_states_file=${output_folder}/leaf_states.csv
leaf_dates_file=${output_folder}/leaf_dates.csv
all_states_file=${output_folder}/Sankoff_states.csv
translin_file=${output_folder}/transmission_lineages.withduplicates.out
country_stat_file=${output_folder}/country_stat