#!/usr/bin/bash

tag="30jan_pangolin_3.1.20"
threads=30
data_folder="/export/home/popova/workspace/covid/data/munched/usher/30jan"
output_folder="/export/home/popova/workspace/covid/output/transmission_lineages/usher/${tag}"
tree="${data_folder}/2022-01-18_usher_2_2_fluffed_gisaid.debugged.nw"

previous_pangolin_output_folder="" # guess i won't need it, because from now on all pangout files will be in one data/munched/pangolin_vx folder
pangolin_input_folder=/export/home/popova/workspace/covid/data/raw/raw_rus_fasta_30jan/fasta_all
pangolin_output_folder=/export/home/popova/workspace/covid/data/munched/pangolin_3.1.20
our_pangolined=${pangolin_output_folder}/our.pangolined
nopango_pangolined=${pangolin_output_folder}/nopango.pangolined
all_pangolined=${pangolin_output_folder}/all.pangolined
rus_pangolined_from_tree=${output_folder}/rus.pangolined.from.tree

branchlength=subs # subs or subs_per_site
seqlength=29903
important_lineages="/export/home/popova/workspace/covid/data/russian/lineages_of_interest.list"
important_lineages_delta="/export/home/popova/workspace/covid/data/russian/delta_lineages_of_interest.list"
unmasked_gisaid_msa=/export/home/popova/workspace/covid/data/raw/msa_2022-02-01/2022-02-01_unmasked.fa

script_folder=/export/home/popova/workspace/covid/scripts
conda_config="/export/home/popova/miniconda3/etc/profile.d/conda.sh"

leaf_states_file=${output_folder}/leaf_states.csv
leaf_dates_file=${output_folder}/leaf_dates.csv
leaf_districts_file=${output_folder}/leaf_districts.csv
all_states_file=${output_folder}/Sankoff_states.csv
translin_file=${output_folder}/transmission_lineages.withduplicates.out
country_stat_file=${output_folder}/country_stat
