#!/usr/bin/bash

tag="july1_large"
gentag="2021-07-01"
threads=30
data_folder="/export/home/popova/workspace/covid/data/munched/usher/${tag}"
output_folder="/export/home/popova/workspace/covid/output/transmission_lineages/usher/${tag}"
pangolin_output_folder="/export/home/popova/workspace/covid/output/transmission_lineages/usher/${tag}/pangolin"

conda_config="/export/home/popova/miniconda3/etc/profile.d/conda.sh"

#rpn_meta="/export/home/popova/workspace/covid/data/raw/28_05_2021_meta.csv"
#meta="/export/home/popova/workspace/covid/data/raw/metadata_2021_05_31.tsv"

merged_meta="/export/home/popova/workspace/covid/data/russian/merged_meta.csv"
long_ids="${data_folder}/${gentag}_samples_for_usher_2_2.long_ids"

rawtree="${data_folder}/uncondensed-final-tree.nh"
tree="${data_folder}/renamed.nwk"
rus_fasta="${data_folder}/${gentag}_for_usher_2_2.fasta"
rus_to_rus_duplicates="${data_folder}/${gentag}_rus_to_rus_dups.tsv" 
rus_to_nonrus_duplicates="${data_folder}/${gentag}_rus_to_nonrus_dups.tsv"
nonrus_to_nonrus_duplicates="${data_folder}/${gentag}_nonrus_to_nonrus_dups.tsv"
nonrus_clusters="${data_folder}/${gentag}_nonrus_clusters_3_-6.list"

rus_duplicates="${data_folder}/${gentag}_all_rus_duplicates" # by merge_rus_duplicates.py
nonrus_duplicates="${data_folder}/${gentag}_all_nonrus_duplicates" #  by python merge_nonrus_duplicates.py
nonrus_duplicates_wo_clusters="${data_folder}/${gentag}_nonrus_duplicates_wo_clusters" #  by python merge_nonrus_duplicates.py; nonrus_duplicates_wo_clusters is used in timing.py
nonrus_duplicates_after_defluffing="${data_folder}/${gentag}_all_nonrus_duplicates_after_defluffing"

#rus_unique_list="${data_folder}/${gentag}_rus_unique.list"
#rus_aln="${data_folder}/${gentag}_rus_masked.aln"
#rus_unique_fasta="${data_folder}/${gentag}_rus_unique.fasta"
#unique_pangolined="${pangolin_output_folder}/rus_unique.pangolined"
#pangolined_with_duplicates="${pangolin_output_folder}/rus_withduplicates.pangolined"

rus_pangolined="${pangolin_output_folder}/rus.pangolined"
rus_withdups_pangolined="${pangolin_output_folder}/rus.withdups.pangolined"
important_lineages="/export/home/popova/workspace/covid/data/russian/lineages_of_interest.list"

branchlength=subs # subs or subs_per_site
#seqlength=29903

leaf_states_file=${output_folder}/leaf_states.csv
leaf_dates_file=${output_folder}/leaf_dates.csv
all_states_file=${output_folder}/Sankoff_states.csv
translin_file=${output_folder}/transmission_lineages.withduplicates.out
stripped_tree_file=${output_folder}/stripped_tree_with_labels_with_duplicates
country_stat_file=${output_folder}/country_stat